<div class="h-[100vh]  md:flex">
    <div class="w-full hidden flex-col h-full xl:block xl:w-1/2 bg-cover rounded-l-lg overflow-hidden">
        <div class="flex items-start h-[10%]">
            <img src="assets/images/GS1_SenegalL.png" alt="" style="height: 75px" class="mx-3 my-3">
        </div>
        <div class="flex   h-[5%]   left-1/3  mt-2 items-center  justify-center">
            <span class="primarycolorText font-bold text-4xl" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">SAMAGS1</span>
        </div>
        <div class="h-[80%] bottom-0 fixed">
            <img src="assets/images/verifyDiplome.jpg"  alt="" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="flex w-full xl:w-1/2 justify-center  h-full bgAccueil relative">
        <!-- <button class="absolute top-2 left-2" routerLink="/choix_du_profil"><svg xmlns="http://www.w3.org/2000/svg"
                height="25" width="25" aria-hidden="true" fill="currentColor" style="color: #F26334"
                viewBox="0 0 448 512">
                <path
                    d="M177.5 414c-8.8 3.8-19 2-26-4.6l-144-136C2.7 268.9 0 262.6 0 256s2.7-12.9 7.5-17.4l144-136c7-6.6 17.2-8.4 26-4.6s14.5 12.5 14.5 22l0 72 288 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32l-288 0 0 72c0 9.6-5.7 18.2-14.5 22z" />
            </svg></button> -->
            <button  routerLink="/choix_du_profil"  class="bg-orange-500   absolute left-0 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-b inline-flex items-center">         
                <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M9.5 6.7c.4-.3.4-1 0-1.4a1 1 0 0 0-1.3 0l-5.5 4.9a2 2 0 0 0 0 3l5.5 5.1c.5.4 1 .4 1.5 0 .3-.5.3-1-.1-1.5l-5.6-5v-.1l5.5-5ZM16 16v-.4a4.1 4.1 0 0 1 2.7 2.4 1.7 1.7 0 0 0 2 1 1.7 1.7 0 0 0 1.3-1.7V16c0-3.8-2.5-7-6-7.6v-.7a2 2 0 0 0-2-2.1 2 2 0 0 0-1.1.4l-5.1 4.3a2.1 2.1 0 0 0 0 3.1l5 4.3h.1A2 2 0 0 0 16 16Z" clip-rule="evenodd"/>
                  </svg>     
                  Retour 
              </button>
        <div class="flex flex-col justify-around">
            <div class="flex items-center flex-col">
                <p class="primarycolorText  pt-5 md:pt-0 text-2xl   md:text-4xl">Vérifiez & Validez </p>
                <p class="orange1">vos diplômes en toute sécurité</p>
            </div>
            <div class="flex justify-center">
                <p class="primarycolorText  text-xl md:text-2xl">
                    Veuillez choisir le profil adapté
                </p>
            </div>
            <div class="flex md:flex-row flex-col items-center justify-centeré">
                <div class="flex flex-col justify-start items-center w-72">
                    <button>
                        <a href="" routerLink="/login">
                            <img src="assets/images/type1.png" alt="" class="h-52 sm:h-auto md:h-auto lg:h-auto xl:h-auto">
                        </a>
                    </button>
                    <h3>Ecole de formation</h3>
                </div>
                <div class="flex flex-col justify-center items-center w-72">
                    <button>
                        <img src="assets/images/type2.png" alt="" class="h-52 sm:h-auto md:h-auto lg:h-auto xl:h-auto">
                    </button>
                    <h3>Vérification des diplômes</h3>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <p class="primarycolorText  text-sm md:text-md">
                    © 2023-{{ currentYear }} SAMA GS1 - Powered by <a href="https://gs1senegal.org" target="_blank" class="orange1">GS1
                        Sénégal</a>
                </p>
            </div>
        </div>
    </div>
</div>