<div class="h-[95vh]   md:flex">
    <div class="w-full hidden flex-col h-[95vh] xl:block xl:w-1/2 bg-cover rounded-l-lg overflow-hidden">
        <div class="flex items-start h-[10%]">
            <img src="assets/images/GS1_SenegalL.png" alt="" style="height: 75px" class="mx-3 my-3">
        </div>
        <div class="flex   h-[5%]   left-1/3  mt-2 items-center  justify-center">
            <span class="primarycolorText font-bold text-4xl" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">SAMAGS1</span>
        </div>
        <div class="h-[80%] bottom-0 fixed">
            <img src="assets/images/verifyDiplome.jpg"  alt="" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="flex  overflow-auto w-full xl:w-1/2 items-center relative justify-between  flex-col  primarycolor h-[100vh]">
        <button  routerLink="/login"  class="bg-orange-500   absolute left-0 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-b inline-flex items-center">         
            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M9.5 6.7c.4-.3.4-1 0-1.4a1 1 0 0 0-1.3 0l-5.5 4.9a2 2 0 0 0 0 3l5.5 5.1c.5.4 1 .4 1.5 0 .3-.5.3-1-.1-1.5l-5.6-5v-.1l5.5-5ZM16 16v-.4a4.1 4.1 0 0 1 2.7 2.4 1.7 1.7 0 0 0 2 1 1.7 1.7 0 0 0 1.3-1.7V16c0-3.8-2.5-7-6-7.6v-.7a2 2 0 0 0-2-2.1 2 2 0 0 0-1.1.4l-5.1 4.3a2.1 2.1 0 0 0 0 3.1l5 4.3h.1A2 2 0 0 0 16 16Z" clip-rule="evenodd"/>
              </svg>     
              Retour 
          </button>
      
            <div class="flex h-[30%] items-center justify-center flex-col">
                <div class="font-weight-bold text-white  sm:text-5xl text-xl">
                    Vérifiez & Validez
                </div>
                <div class="text-white">
                    Vos diplômes en toute sécurité
                </div>
            </div>
       
        <div class="w-full h-[50%] flex items-center relative justify-between flex-col ">
            <div
                class="text-2xl-center   flex items-center sm:text-md-center sm:w-1/2  rounded-xl absolute bottom-[97%] justify-center  h-12 text-white font-bold bgOrange1">
                Réinitialiser votre mot de passe
            </div>
            <div *ngIf="errors" class="alert alert-danger mt-3">
                {{ errors }}
            </div>
            <form action="" class="mb-0 space-y-3 w-3/4  rounded-2xl  bg-white shadow-lg sm:p-6 lg:p-8"
                [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
                <div class="mb-4">
                    <label for="email" class="primarycolorText">Saisir un nouveau mot de passe </label>
                    <div class="relative">
                        <input type="password" formControlName="password"
                            class="w-full rounded-lg border-2 border-orange-300 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Entrer le nouveau mot de passe" />
                    </div>
                    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)"
                        class="alert  text-sm md:text-sm  absolute top-28  mb-1 flex items-center justify-center text-red-600">
                        <div *ngIf="password!.errors?.['required']">Veillez saisir le nouveau mot de passe.</div>
                        <div *ngIf="password!.errors?.['minLength']">Le password doit etre de plus de 4 caracteres.
                        </div>
                    </div>
                </div>
                <div class="relative mb-4">
                    <label for="password" class="primarycolorText">Confirmer le nouveau mot de passe </label>
                    <div class="relative">
                        <input type="password" formControlName="password_confirmation"
                            class="w-full rounded-lg  border-2 border-orange-300 p-4 pe-12 text-sm shadow-sm"
                            placeholder="confirmation du nouveau mot de pass" />
                    </div>

                    <div class="text-red-600 absolute top-22 text-bold text-sm md:text-sm"
                        *ngIf="newPasswordForm.errors?.['PasswordNoMatch']">
                        Les mots de passe ne correspondent pas.
                    </div>
                </div>

                <div class="flex items-center justify-center">
                    <button type="submit" [disabled]="newPasswordForm.invalid"
                        class="flex items-center justify-center  w-full md:w-1/3 bgOrange1 rounded-lg  px-5 py-3 text-sm font-medium text-white">
                        <mat-progress-spinner 
                        [mode]="'indeterminate'" 
                        [color]="'#002C6C'"
                        [diameter]="20"
                        [strokeWidth]="4"
                        *ngIf="load">
                    </mat-progress-spinner>
                        DEFINIR
                    </button>
                </div>

            </form>
        </div>
        <div class="1/3 flex  mb-10 items-center justify-center">
            <div class="text-white">
                © 2023-{{ currentYear}}  SAMA GS1 - Powered by <label for="" class="orange1">GS1 Sénégal</label>
            </div>
        </div>
    </div>
</div>