<div class="h-[98vh]  md:flex">
    <!-- <div class="w-full hidden mt-10  h-[90vh] relative  lg:block lg:w-1/2 bg-cover rounded-l-lg">
        <div class="flex   h-1/4 absolute  left-1/3 top-[-12%] mt-2 items-center  justify-center">
            <img src="assets/images/Sama.png" alt="">
            <img src="assets/images/logogs1.png" alt="">
        </div>
        <div class="h-3/4 ">
            <img src="assets/images/graduation-amico.jpg" alt="">
        </div>
    </div> -->
    <div class="w-full hidden   flex-col      h-[85vh]   lg:block lg:w-1/2 bg-cover rounded-l-lg">
        <div class="flex   h-[15%]   left-1/3  mt-2 items-center  justify-center">
            <img src="assets/images/Sama.png" alt="">
            <img src="assets/images/logogs1.png" alt="">
        </div>
        <div class="h-3/4">
            <img src="assets/images/verifyDiplome.jpg"  alt="" class="mt-4">
        </div>
    </div>
    <div class="flex md:w-1/2 items-center justify-between  flex-col  primarycolor h-full">
        <div class="w-full mt-8">
            <div class="flex items-center justify-center flex-col">
                <div class="font-weight-bold text-white  sm:text-5xl text-xl">
                    Vérifiez & Validez
                </div>
                <div class="text-white">
                    Vos diplômes en toute sécurité
                </div>
            </div>
        </div>
        <div class="ml-2  w-full  flex items-center relative justify-between flex-col ">
            <div
                class="text-2xl-center   flex items-center sm:text-md-center sm:w-1/2  rounded-xl absolute bottom-[97%] justify-center  h-12 text-white font-bold bgOrange1">
                Réinitialiser votre mot de passe
            </div>
            <div *ngIf="errors" class="alert alert-danger mt-3">
                {{ errors }}
            </div>
            <form action="" class="mb-0 space-y-3 w-3/4  rounded-2xl  bg-white shadow-lg sm:p-6 lg:p-8"
                [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
                <div class="mb-4">
                    <label for="email" class="primarycolorText">Saisir un nouveau mot de passe </label>
                    <div class="relative">
                        <input type="password" formControlName="password"
                            class="w-full rounded-lg border-2 border-orange-300 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Entrer le nouveau mot de passe" />
                    </div>

                    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)"
                        class="alert text-xl absolute top-28  mb-1 flex items-center justify-center text-red-600">
                        <div *ngIf="password!.errors?.['required']">Veillez saisir le nouveau mot de passe.</div>
                        <div *ngIf="password!.errors?.['minLength']">Le password doit etre de plus de 4 caracteres.
                        </div>
                    </div>
                </div>
                <div class="relative mb-4">
                    <label for="password" class="primarycolorText">Confirmer le nouveau mot de passe </label>
                    <div class="relative">
                        <input type="password" formControlName="password_confirmation"
                            class="w-full rounded-lg  border-2 border-orange-300 p-4 pe-12 text-sm shadow-sm"
                            placeholder="confirmation du nouveau mot de pass" />
                    </div>

                    <div class="text-red-600 absolute top-22 text-bold text-xl"
                        *ngIf="newPasswordForm.errors?.['PasswordNoMatch']">
                        Les mots de passe ne correspondent pas.
                    </div>
                </div>

                <div class="flex items-center justify-center">
                    <button type="submit" [disabled]="newPasswordForm.invalid"
                        class="block  w-full md:w-1/3 bgOrange1 rounded-lg  px-5 py-3 text-sm font-medium text-white">
                        DEFINIR
                    </button>
                </div>

            </form>
        </div>
        <div class="1/3 flex  mb-10 items-center justify-center">
            <div class="text-white">
                © 2023_SAMA GS1 - Powered by <label for="" class="orange1">GS1 Sénégal</label>
            </div>
        </div>
    </div>
</div>