<div class="h-[85vh] mt-10 md:flex">
  <div class="w-full hidden  h-[85vh] relative  lg:block lg:w-1/2 bg-cover rounded-l-lg">
    <div class="flex   h-1/4 absolute  left-1/3 top-[-12%] mt-2 items-center  justify-center">
      <img src="assets/images/Sama.png" alt="">
      <img src="assets/images/logogs1.png" alt="">
    </div>
    <div class="h-3/4 ">
      <img src="assets/images/graduation-amico.jpg" alt="">
    </div>
  </div>
  <div class="flex md:w-1/2 justify-center  primarycolor items-center">
    <div class="flex flex-col w-full items-center  ">
      <div class=" flex flex-col items-center justify-center">
        <div class="font-weight-bold text-white  text-4xl">
          Verifiez & valider
        </div>
        <div class=" text-white">
          vos diplomes en toute sécurité
        </div>
      </div>
      <form action="" class="mb-0 mt-5 space-y-3 w-2/3 rounded-2xl p-4   bg-white shadow-lg sm:p-6 lg:p-8"
        [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4 relative">
          <label for="email" class="primarycolorText">Email</label>
          <div class="relative">
            <input type="email" formControlName="email"
              [style.border-color]="email!.invalid && (email!.dirty || email!.touched) ? 'red' : ''"
              class="w-full rounded-lg border-2 border-orange-300  p-4 pe-12 text-md shadow-sm"
              placeholder="Entrer votre email" />
            <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
              </svg>
            </span>
          </div>
          <div *ngIf="email!.invalid && (email!.dirty || email!.touched)"
            class="alert text-red-700 font-bold absolute top-20">
            <div *ngIf="email!.errors?.['required']">L'émail est obligatoire.</div>
            <div *ngIf="email!.errors?.['email']">
              L'émail n'est pas valide
            </div>
          </div>
        </div>
        <div class="relative mb-4">
          <label for="password" class="primarycolorText">Password</label>
          <div class="relative">
            <input type="password" formControlName="password"
              [style.border-color]="isFieldInvalid('password') ? 'red' : ''"
              class="w-full rounded-lg  border-2 border-orange-300 p-4 pe-12 text-sm shadow-md"
              placeholder="Entrer votre mot de pass" />
            <!-- <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </span> -->
          </div>
          <div class="absolute top-24">
            <span *ngIf="isFieldInvalid('password')" class="text-red-700 font-bold">Veillez saisir minimum 4
              caractéres.</span>

          </div>
        </div>
        <div class="bleu3">
          <a href="#" routerLink="/enter_email">
            Mot de passe oublié ?
          </a>
        </div>
        <div class="flex items-center justify-center">
          <button type="submit" [disabled]="loginForm.invalid"
            class="block w-2/4  primarycolor rounded-lg  px-5 py-3 text-sm font-medium text-white">
            CONNEXION
          </button>
        </div>

      </form>
      <div class="mt-[15%] text-white">
        © 2023_SAMA GS1 - Powered by <a href="https://gs1senegal.org" target="_blank" class="orange1">GS1 Sénégal</a>
      </div>
    </div>
  </div>

</div>