<div class="flex relative flex-items mt-2 w-full flex-col bg-slate-100 flex-container">
    <div class="h-20 w-full mt-3 flex items-col primarycolor">
        <div class="w-1/3 flex  sm:text-2xl  text-sm primarycolorText   bg-slate-100 items-center justify-center">
            <button> {{user.ecole.libelle}} </button>
        </div>
        <div class="w-2/3 flex sm:text-2xl  text-sm text-white justify-center items-center">
            <button>GESTION DES INFORMATIONS DE L'ECOLE</button>
        </div>
        <div *ngIf="prevusialiser" class="absolute z-10 top-[15%] left-[60%]">
            <span class="bg bg-red-600 p-2 cursor-pointer text-white rounded-md" (click)="desactive()">Fermer</span>
            <pdf-viewer class="my-2" [src]="pdfSrc" [render-text]="true" [original-size]="false"
                style="width: 600px; height: 500px"></pdf-viewer>
        </div>
    </div>
    <form action="" [formGroup]="formValue" (ngSubmit)="modify()" class="w-full flex  flex-col  xl:flex-row bg-slate-100">
            <div class="w-full h-[490px]  flex-col xl:w-1/3 flex items-center justify-center bgOrange1"> 
                <div class="primarycolor w-[275px]  md rounded-md h-[65%]">
                    <div class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
                        <div class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
                            <div class="text-center">
                                <div class="mt-2">
                                    <img [src]="photo" alt=""
                                        class="w-40 h-40 m-auto  border border-red-200  rounded-full shadow">
                                </div>
                                <div class="flex flex-col md:flex-col   items-center justify-center  xl:flex-col 2xl:flex-row ">
                                    <label for="fileInput"
                                        class="flex cursor-pointer justify-center items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2 ml-3">
                                        Charger
                                        <input id="fileInput" type="file" class="hidden"
                                            (change)="handleFileInput($event)">
                                    </label>
                                    <button type="button" (click)="deletePhoto()"
                                        class="flex  justify-center items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2 ml-3">
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full  xl:w-2/3 flex flex-col">
                <div class="p-3">
                    <div
                        class="bgOrange1  mb-5  h-10 w-72 rounded-md flex items-center justify-center text-white font-bold">
                        <span>Identification de l'école</span>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-4 gap-3">
                        <div class="div1">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>ID Systém :</mat-label>
                                    <input matInput formControlName="id_system" placeholder="" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="div4 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Nom :</mat-label>
                                    <input matInput formControlName="nom" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="nom!.invalid && (nom!.dirty || nom!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="nom!.errors?.['required']">Le nom est obligatoire</div>
                                <div *ngIf="nom!.errors?.['minlength']">Veillez saisir minimum 2 caractéres</div>
                            </div>
                        </div>
                        <div class="div3 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Date création :</mat-label>
                                    <input matInput formControlName="date_creation" placeholder="" type="date">
                                </mat-form-field>
                            </div>
                            <div *ngIf="date_creation!.invalid && (date_creation!.dirty || date_creation!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="date_creation!.errors?.['required']">La date de création est obligatoire
                                </div>
                            </div>
                        </div>
                        <div class="div4 relative">
                            <div class="flex">
                                <span
                                    class="flex-shrink-0  inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-e-0 border-gray-300 dark:border-gray-700 dark:text-white rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"><span>Numéro
                                        d'autorisation</span></span>
                                <div id="dropdown"
                                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                </div>
                                <div class="relative w-full" >
                                    <input type="file" disabled   (change)="handlePdf($event)"
                                        class="block h-14 p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                        placeholder="">
                                </div>
                            </div>
                            <div *ngIf="numero_autorisation!.invalid && (numero_autorisation!.dirty || numero_autorisation!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="nom!.errors?.['required']">numero_autorisation nom est obligatoire</div>
                            </div>
                            <span *ngIf="pdfSelected" (click)="setPrev()"
                                class="absolute  cursor-pointer top-14 right-1 primarycolorText">
                                prévusialiser
                            </span>
                        </div>
                        <div class="div8 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Email :</mat-label>
                                    <input matInput formControlName="email" placeholder="" type="email"
                                        (input)="emailIsExist($event)">
                                </mat-form-field>
                            </div>
                            <div *ngIf="email!.invalid && (email!.dirty || email!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="email!.errors?.['email']">veillez saisir un email valide</div>
                                <div *ngIf="email!.errors?.['required']">L'émail est obligatoire</div>
                            </div>
                            <div *ngIf="emailExist" class="flex absolute top-14 left-0 text-red-600 error-message">
                                {{textverif}}
                            </div>
                        </div>
                        <div class="div7 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Télephone personnel :</mat-label>
                                    <input matInput formControlName="telephone" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="telephone!.invalid && (telephone!.dirty || telephone!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="telephone!.errors?.['required']">Le téléphone est obligatoire</div>
                                <div *ngIf="telephone!.errors?.['phoneNumberSn']">
                                    Numéro invalide
                                </div>
                            </div>
                        </div>
                        <div class="div7 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Adresse :</mat-label>
                                    <input matInput formControlName="adresse" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="adresse!.invalid && (adresse!.dirty || adresse!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="adresse!.errors?.['required']">L'adreese est obligatoire</div>
                            </div>
                        </div>
                        <div class="div8 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Télephone Bureau :</mat-label>
                                    <input matInput formControlName="telephone_bureau" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="telephone_bureau!.invalid && (telephone_bureau!.dirty || telephone_bureau!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="telephone_bureau!.errors?.['required']">Le téléphone de bureau est
                                    obligatoire</div>
                                <div *ngIf="telephone_bureau!.errors?.['phoneNumberFixeSn']">
                                    Numéro invalide
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mb-5 justify-around">
                        <span
                            class="primarycolor  flex items-center justify-center cursor-pointer  text-white  rounded-md h-12 w-32">Annuler</span>
                        <button class="bgOrange1  flex items-center justify-center text-white rounded-md h-12 w-32"
                            [disabled]="formValue.invalid || !existTof || !formTouched || emailExist || load">Mettre
                            à jour
                            <mat-progress-spinner 
                            [mode]="'indeterminate'" 
                            [color]="'#002C6C'"
                            [diameter]="20"
                            [strokeWidth]="4"
                            *ngIf="load">
                        </mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </div>
    </form>
    <div class="hidden xl:flex items-center justify-center flex-col md:flex-row xl:hidden 2xl:flex">
        <div class="w-full h-[200px]  mt-5 flex justify-end items-end">
            <!-- <img src="assets/images/logo111.png" alt="" class="object-cover h-full w-full"> -->
        </div>
    </div>
    
</div>