ul.fixed {
    border-top: 1px solid #F26334; 
    margin-top: 10px; 
    padding-top: 10px; 
    width: 100%;
}
#logo-sidebar::-webkit-scrollbar {
    display: none; 
  }
  
  #logo-sidebar {
    scrollbar-width: none; 
  }