<div class="h-[90vh] mt-10 md:flex">
    <div class="w-full hidden  h-[85vh] relative  lg:block lg:w-1/2 bg-cover rounded-l-lg">
        <div class="flex   h-1/4 absolute  left-1/3 top-[-12%] mt-2 items-center  justify-center">
            <img src="assets/images/Sama.png" alt="">
            <img src="assets/images/logogs1.png" alt="">
        </div>
        <div class="h-3/4 ">
            <img src="assets/images/graduation-amico.jpg" alt="">
        </div>
    </div>
    <div class="flex md:w-1/2 justify-center   bgAccueil">
        <div class="flex flex-col justify-around">
            <div class="flex items-center flex-col">
                <p class="primarycolorText text-4xl">Vérifiez & Validez </p>
                <p class="orange1">vos diplômes en toute sécurité</p>
            </div>
            <div class="flex justify-center">
                <p class="primarycolorText text-2xl">
                    Veuillez choisir le profil adapté
                </p>
            </div>
            <div class="flex flex-row">
                <div class="flex flex-col justify-start items-center">
                    <button>
                        <a href="#" routerLink="/login">
                            <img src="assets/images/type1.png" alt="">
                        </a>
                    </button>
                    <h3>Ecole de formation</h3>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <button>
                        <img src="assets/images/type2.png" alt="">
                    </button>
                    <h3>Agence d'intérim</h3>
                </div>

            </div>
            <div class="flex items-center justify-center">
                <p class="primarycolorText">
                    © 2023_SAMA GS1 - Powered by <a href="https://gs1senegal.org" target="_blank" class="orange1">GS1 Sénégal</a>
                </p>
            </div>
        </div>


    </div>

</div>