<div class="h-[90vh] mt-10 md:flex">
    <div class="w-full hidden  h-[85vh] relative  lg:block lg:w-1/2 bg-cover rounded-l-lg">
        <div class="flex   h-1/4 absolute  left-1/3 top-[-12%] mt-2 items-center  justify-center">
            <img src="assets/images/Sama.png" alt="">
            <img src="assets/images/logogs1.png" alt="">
        </div>
        <div class="h-3/4 ">
            <img src="assets/images/graduation-amico.jpg" alt="">
        </div>
    </div>
    <div class="flex md:w-1/2 items-center justify-center  flex-col h-[90vh] primarycolor">
        <div class="h-[40%] w-full mt-8">
            <div class="h-[20%]  flex items-center justify-center flex-col">
                <div class="font-weight-bold text-white  sm:text-5xl text-xl">
                    Vérifiez & Validez
                </div>
                <div class="text-white">
                    vos diplômes en toute sécurité
                </div>
            </div>
            <div class="h-[60%] mb-5 flex items-center   relative justify-center">
                <div>
                    <img src="assets/images/ellipse11.png" alt="" width="70%">
                </div>
                <div class="absolute">
                    <img src="assets/images/ellipse.png" alt="" width="70%">
                </div>
            </div>
        </div>
        <div class="h-[60%] ml-2 w-full sm:full flex items-center relative justify-between flex-col">
            <div
                class="text-2xl-center flex items-center sm:text-md-center sm:w-1/2  rounded-xl absolute bottom-[97%] justify-center  h-12 text-white font-bold bgOrange1">
                Réinitialiser votre mot de passe
            </div>
            <div class="h-2/3 w-3/5">
                <form class="full   rounded-2xl p-4  bg-white shadow-lg sm:p-6 lg:p-8" [formGroup]="resetForm"
                    (ngSubmit)="onSubmit()">
                    <div class="mb-10">
                        <label for=" password" class="primarycolorText py-2">Saisir votre adresse mail</label>
                        <div class="">
                            <input type="email" formControlName="email"
                                [style.border-color]="email!.invalid && (email!.dirty || email!.touched) ? 'red' : ''"
                                class="w-full rounded-lg border-2 border-gray-300 p-4 pe-12 text-sm shadow-sm"
                                placeholder="Entrer votre adresse mail" />
                        </div>
                    </div>
                    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)"
                        class="alert absolute top-28 mt-1 text-xl font-bold flex items-center justify-center text-red-600">
                        <div *ngIf="email!.errors?.['required']">L'émail est obligatoire.</div>
                        <div *ngIf="email!.errors?.['email']">
                            L'émail est invalide
                        </div>
                    </div>


                    <div class="flex items-center justify-center">
                        <button [disabled]="resetForm.invalid"
                            class="block w-2/4  bg-green-600 rounded-lg  px-5 py-3 text-sm font-medium text-white">
                            ENVOYER
                        </button>
                    </div>
                </form>
            </div>
            <div class="1/3 flex  mb-10 items-center justify-center">
                <div class="text-white">
                    © 2023_SAMA GS1 - Powered by <label for="" class="orange1">GS1 Sénégal</label>
                </div>
            </div>
        </div>
    </div>
</div>