<div class="flex flex-items  overflow-auto  h-auto flex-col ">
    <div class="mt-4  h-[40px]  w-full flex items-col primarycolor">
        <div class="w-2/3 flex sm:text-2xl  text-sm text-white justify-center items-center">
            <button>GESTION DES INFORMATIONS DE L'ETUDIANT</button>
        </div>
    </div>
    <form action="" [formGroup]="formStudent" (ngSubmit)="addStudent()"  class="w-full flex  flex-col  xl:flex-row bg-slate-100">
            <div class="w-full  xl:w-1/3 flex items-center justify-center  h-[600px] ">
                <div class="primarycolor mt-[60px] w-[325px]  md rounded-md h-[55%]">
                    <div class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
                        <div class=" flex items-center  flex-col col-span-6 ml-2 sm:col-span-4 md:mr-3">
                            <label for="" class="text-white font-bold">Photo</label>
                            <div class="text-center">
                                <div class="mt-2" x-show="!photoPreview">
                                    <img [src]="photo" alt=""
                                        class="w-40 h-40 m-auto  border border-red-200  rounded-full shadow">
                                </div>
                                <div class="flex flex-col md:flex-col  xl:flex-col 2xl:flex-row">
                                    <label for="fileInput"
                                        class="inline-flex justify-center cursor-pointer items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2 ml-3">
                                        Charger
                                        <input id="fileInput" type="file" class="hidden"
                                            (change)="handleFileInput($event)" accept="image/*">
                                    </label>
                                    <button type="button" (click)="deletePhoto()"
                                        class="inline-flex justify-center items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2 ml-3">
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full mb-5 :mb-0 xl:w-2/3 flex flex-col">
                <div class="p-3">
                    <div
                        class="bgOrange1  mb-5  h-10 w-72 rounded-md flex items-center justify-center text-white font-bold">
                        <span>Identification de l'étudiant</span>
                    </div>
                    <div class="grid grid-cols-1 xl:grid-cols-2 grid-rows-5 gap-2 relative">
                        <!-- <div class="div3 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Prénom :</mat-label>
                                    <input matInput formControlName="prenom" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="prenom!.invalid && (prenom!.dirty || prenom!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="prenom!.errors?.['required']">Le prénom est obligatoire</div>
                                <div *ngIf="prenom!.errors?.['minlength'] && !prenom!.errors?.['validString']">
                                    Veillez saisir minimum 2 caractères
                                </div>
                                <div *ngIf="prenom!.errors?.['validString']">
                                    Les caracteres spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div> -->

                        <div class="div2 relative">
                            <div>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Civilité</mat-label>
                                    <mat-select formControlName="civilite" required>
                                        <mat-option>--</mat-option>
                                        @for (civil of civility; track civil) {
                                        <mat-option [value]="civil.libelle">{{civil.libelle}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="civilite!.invalid && (civilite!.dirty || civilite!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="civilite!.errors?.['required']">La civilité est obligatoire</div>
                                <div *ngIf="civilite!.errors?.['minlength']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="div4 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Nom :</mat-label>
                                    <input matInput formControlName="nom" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="nom!.invalid && (nom!.dirty || nom!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="nom!.errors?.['required']">Le nom est obligatoire</div>
                                <div *ngIf="nom!.errors?.['minlength'] && !nom!.errors?.['validString']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                                <div *ngIf="nom!.errors?.['validString']">
                                    Les caractères spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div>
                        <!-- <div class="div2 relative">
                            <div>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Civilité</mat-label>
                                    <mat-select formControlName="civilite" required>
                                        <mat-option>--</mat-option>
                                        @for (civil of civility; track civil) {
                                        <mat-option [value]="civil.libelle">{{civil.libelle}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="civilite!.invalid && (civilite!.dirty || civilite!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="civilite!.errors?.['required']">La civilité est obligatoire</div>
                                <div *ngIf="civilite!.errors?.['minlength']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                            </div>
                        </div> -->
                          <div class="div3 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Prénom :</mat-label>
                                    <input matInput formControlName="prenom" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="prenom!.invalid && (prenom!.dirty || prenom!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="prenom!.errors?.['required']">Le prénom est obligatoire</div>
                                <div *ngIf="prenom!.errors?.['minlength'] && !prenom!.errors?.['validString']">
                                    Veillez saisir minimum 2 caractères
                                </div>
                                <div *ngIf="prenom!.errors?.['validString']">
                                    Les caracteres spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div> 
                        <div class="div3 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Date de naissance :</mat-label>
                                    <input matInput  type="date" formControlName="date_de_naissance" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="date_de_naissance!.invalid && (date_de_naissance!.dirty || date_de_naissance!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="prenom!.errors?.['required']">La date de naissance est obligatoire</div>
                            </div>
                        </div>
                          <div class="div4 relative">
                            <div class="flex">
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Lieu de naissance :</mat-label>
                                    <input matInput formControlName="lieu_de_naissance" placeholder="">
                                </mat-form-field>
                            </div>
                            <div *ngIf="lieu_de_naissance!.invalid && (lieu_de_naissance!.dirty || lieu_de_naissance!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="lieu_de_naissance!.errors?.['required']">Le lieu de naissance est obligatoire</div>
                                <div *ngIf="lieu_de_naissance!.errors?.['minlength'] && !lieu_de_naissance!.errors?.['validString']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                                <div *ngIf="lieu_de_naissance!.errors?.['validString']">
                                    Les caractères spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div>
                      
                        <div class="div6 relative">
                            <div>
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Département :</mat-label>
                                    <input matInput formControlName="departement" [matAutocomplete]="autoDepatement"
                                        (change)="updateForm($event)" placeholder="">
                                    <mat-autocomplete #autoDepatement="matAutocomplete"
                                        (optionSelected)="updateFormWithSelectedOption($event)">
                                        <mat-option *ngFor="let suggestion of suggestions$ | async"
                                            [value]="suggestion">
                                            {{ suggestion }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div *ngIf="departement!.invalid && (departement!.dirty || departement!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="departement!.errors?.['required']">Le département est obligatoire</div>
                                <div
                                    *ngIf="departement!.errors?.['minlength'] && !departement!.errors?.['validString']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                                <div *ngIf="departement!.errors?.['validString']">
                                    Les caractères spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div>

                        <div class="div7 relative">
                            <div>
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Filiére :</mat-label>
                                    <input matInput formControlName="filiere" [matAutocomplete]="autoFiliere"
                                        (change)="updateForm1($event)" placeholder="">
                                    <mat-autocomplete #autoFiliere="matAutocomplete"
                                        (optionSelected)="updateFormWithSelectedOption1($event)">
                                        <mat-option *ngFor="let filiere of suggestionFilieres$ | async"
                                            [value]="filiere">
                                            {{ filiere }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div *ngIf="filiere!.invalid && (filiere!.dirty || filiere!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="filiere!.errors?.['required']">La filiere est obligatoire</div>
                                <div *ngIf="filiere!.errors?.['minlength'] && !filiere!.errors?.['validString']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                                <div *ngIf="filiere!.errors?.['validString']">
                                    Les caractères spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div>
                        <div class="div8 relative">
                            <div>
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Niveau d'étude :</mat-label>
                                    <input matInput formControlName="niveau" [matAutocomplete]="autoNiveau"
                                        (change)="updateForm2($event)" placeholder="">
                                    <mat-autocomplete #autoNiveau="matAutocomplete"
                                        (optionSelected)="updateFormWithSelectedOption2($event)">
                                        <mat-option *ngFor="let niveau of suggestionNiveau$ | async" [value]="niveau">
                                            {{ niveau }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div *ngIf="niveau!.invalid && (niveau!.dirty || niveau!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="niveau!.errors?.['required']">Le niveau d'étude est obligatoire</div>
                                <div *ngIf="niveau!.errors?.['minlength'] && !niveau!.errors?.['validString']">
                                    Veillez saisir minimum 2 caracteres
                                </div>
                                <div *ngIf="niveau!.errors?.['validString']">
                                    Les caractères spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div>
                        <div class="div9 relative">
                            <div>
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Matricule :</mat-label>
                                    <input matInput formControlName="matricule" placeholder="Matricule">
                                </mat-form-field>
                            </div>
                            <div *ngIf="matricule!.invalid && (matricule!.dirty || matricule!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="matricule!.errors?.['required']"> La matricule de l'étudiant est obligatoire
                                </div>
                                <div *ngIf="matricule!.errors?.['minlength'] && !matricule!.errors?.['validString']">
                                    La matricule doit contenir au moins 3 caractères
                                </div>
                                <div *ngIf="matricule!.errors?.['maxlength'] && !matricule!.errors?.['validString']">
                                    La matricule ne doit pas depasser 10 caractères
                                </div>
                                <div *ngIf="matricule!.errors?.['validString']">
                                    Les caractères spéciaux ne sont pas autorisés
                                </div>
                            </div>
                        </div>
                        <div class="div10 relative">
                            <div>
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Date d'obtention :</mat-label>
                                    <input matInput type="date" formControlName="date_obtention"
                                        placeholder="Date d'obtention">
                                </mat-form-field>
                            </div>
                            <div *ngIf="date_obtention!.invalid && (date_obtention!.dirty || date_obtention!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="date_obtention!.errors?.['required']">La date d'obtention est obligatoire
                                </div>
                                <div *ngIf="date_obtention!.errors?.['ValidateDateRange']">La date saisie est invalide
                                </div>
                            </div>
                        </div>



                        <div class="div11 relative">
                            <div>
                                <mat-form-field class="flex-shrink-0" style="width: 100%;">
                                    <mat-label>Numéro GTIN :</mat-label>
                                    <input matInput formControlName="numero_gtin" placeholder="6046000076543"
                                        (input)="EtudiantIsExist($event)">
                                </mat-form-field>
                            </div>
                            <div *ngIf="numero_gtin!.invalid && (numero_gtin!.dirty || numero_gtin!.touched)"
                                class="flex absolute top-14 left-0 text-red-600 error-message">
                                <div *ngIf="numero_gtin!.errors?.['required']">Le numéro d'identification est
                                    obligatoire</div>
                                <div *ngIf="numero_gtin!.errors?.['minlength'] && !numero_gtin!.errors?.['validGtin']">
                                    Le numéro de verification doit être composé de 13
                                    chiffres
                                </div>
                                <div *ngIf="numero_gtin!.errors?.['maxlength'] && !numero_gtin!.errors?.['validGtin']">
                                    Le numéro de verification doit être composé de 13
                                    chiffres
                                </div>
                                <div *ngIf="numero_gtin!.errors?.['validGtin'] && !numero_gtin!.errors?.['required']">
                                    Numéro d'identification invalide
                                </div>
                            </div>
                            <div class="flex absolute top-14 left-0 text-red-600 error-message" *ngIf="etudiantExist">
                                L'étudiant avec ce numéro GTIN existe déjà
                            </div>
                        </div>
                        <!--previsualiser diplome-->
                        <div *ngIf="previewdiplome"
                            class="fixed  cursor-pointer top-0 left-0 right-0 z-50 flex items-center justify-center w-full h-full ">
                            <img [src]="photo_diplome" class="object-cover rounded-lg" alt="Avatar"
                                (click)="setView()" />
                        </div>
                        <!--previsualiser diplome-->
                        <div class="div12 relative">
                            <div class="flex">
                                <span
                                    class="flex-shrink-0  inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-e-0 border-gray-300 dark:border-gray-700 dark:text-white rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"><span>Photo
                                        du diplome avec code</span></span>
                                <div id="dropdown"
                                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                </div>
                                <div class="relative w-full">
                                    <input type="file" (change)="handleFileInput1($event)" accept="image/*"
                                        class="block p-2.5 h-14 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="text-bold absolute right-0 bottom-0 cursor-pointer" *ngIf="previ">
                            <span class="text-bold" (click)="setView()"> Prévisualiser</span>
                        </div>
                      
                    </div>
                    <div class="flex items-center relative justify-around mt-3">
                        <span
                            class="primarycolor  cursor-pointer flex items-center justify-center text-white  rounded-md h-12 w-32"
                            (click)="reset()">Annuler</span>
                        <button class="bgOrange1  flex items-center justify-center text-white rounded-md h-12 w-32"
                            [disabled]="formStudent.invalid || !exisToff || etudiantExist || load ">Ajouter
                            <mat-progress-spinner 
                            [mode]="'indeterminate'" 
                            [color]="'#002C6C'"
                            [diameter]="20"
                            [strokeWidth]="4"
                            *ngIf="load">
                        </mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </div>
    </form>
    <div class="flex items-center bg-slate-100 justify-center flex-col md:flex-row 2xl:flex">
        <div class="w-full h-[50px]  mt-5 flex justify-end items-end">
        </div>
    </div>
</div>