/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css ou styles.scss */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */



.primarycolor {
    background-color: #002C6c;
}

.primarycolorText {
    color: #002C6c;
}

.bgOrange1 {
    background-color: #F26334;
}

.orange1 {
    color: #F26334;
}

.bleu3 {
    color: #00799E;
}

.borderInput {
    border: #F26334;
}

.bgAccueil {
    background-color: #F0F5FA;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





